<div>
  <p>Username: {{user?.UserName}}</p>
  <p>Name: {{user?.AppUser.Name}}</p>
  <p>Surname: {{user?.AppUser.Surname}}</p>
  <p>Email: {{user?.Email}}</p>
  <p>Approved: {{user?.AppUser.Approved}}</p>
  <div>
    <form #uploadImageForm=ngForm (ngSubmit)="OnUploadImageSubmit(Image, user)">
      <img class="rounded float-left img-thumbnail" alt="Upload image!" [src]="sanitize(user.AppUser.ImagePath)" 
           style="width:250px;height:200px">
        <input type="file" #Image accept="image/*" (change)="handleFileInput($event.target.files)">
        <button type="submit" class="btn-large btn-submit" [disabled]="Image.value==''">Submit</button>
    </form>
  </div>
</div>
