<h4>Branch offices</h4>
<p>
  
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="45.267136" [longitude]="19.833549" [zoom]="18" (mapClick)="placeMarker($event)">
   
    <!-- Postavljamo markere -->
    <agm-marker *ngFor="let office of branchOffices; index as i" (markerClick)="markerClick(office.Id)" [latitude]="office.Latitude" [longitude]="office.Longitude" [title]="office.Address"
    [label]="office.Address">

      <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
      <agm-info-window [latitude]="office.Latitude" [longitude]="office.Longitude" >
        <!-- U info-window stavljamo html -->
        <span style="font-size: 16px;font-family:'Times New Roman'">{{office.Address}}</span>
        <br/>
        <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
        <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</p>
