<h4>Branch offices</h4>
<p>
  
  <!-- Kreiramo mapu -->
  <agm-map [latitude]="45.267136" [longitude]="19.833549" [zoom]="18" (mapClick)="placeMarker($event)">
    <!-- Postavljamo markere -->
    <agm-marker #marker *ngFor="let office of offices; index as i" (markerClick)="markerClick(office, marker)" [latitude]="office.Lat" [longitude]="office.Lng" [title]="office.title"
    [iconUrl]="office.iconUrl" [label]="office.label">
      <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
      <agm-info-window [latitude]="office.Lat" [longitude]="office.Lng" >  
        <h6 style="font-family:'Times New Roman'; color:mediumseagreen">{{office.title}}</h6>     
        <div>
          <button *ngIf="isTakeVisible()" (click)="onTakeClick(office.id)" class="btn-sm btn-info">Take here</button>
          <button *ngIf="isReturnVisible()" (click)="onReturnClick(office.id)" class="btn-sm btn-info">Return here</button>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</p>
