<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a [routerLink]="['/']" class="navbar-brand">Rent-a-car <span class="sr-only">(current)</span></a>
      <a [routerLink]="['/services']" class="navbar-brand">Services</a>
      <a [routerLink]="['/adminPage']" class="navbar-brand" [hidden]="!isLoggedUserAdmin()">Admin Page</a>
      <a [routerLink]="['/newService']" class="navbar-brand" [hidden]="!isLoggedUserManager()">Add new Service</a>
      <a [routerLink]="['/myServices']" class="navbar-brand" [hidden]="!isLoggedUserManager()">My Services</a>
      <a [routerLink]="['/account']" class="navbar-brand" [hidden]="!userLoggedIn()">Account</a>
    </div>

    <ul class="nav navbar-nav" [hidden]="userLoggedIn()">
      <li><a [routerLink]="['/login']" class="nav navbar-nav navbar-right">Login</a></li>
      <li><a [routerLink]="['/register']" class="nav navbar-nav">Register</a></li>
    </ul>
    <ul class="nav navbar-nav" [hidden]="!userLoggedIn()">
      <li><a [routerLink]="['/']" class="nav navbar-nav" (click)="logout()">Logout</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
