<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Approve New Service">
    <ng-template ngbTabContent>
      <div class="list-group" *ngFor="let service of unapprovedServices; index as i">
        <div class="list-group-item">
          <h5>{{service?.Name}}</h5>
          <small>{{service?.Description}}</small>
          <br/>
          <input type="submit" value="Approve" class="btn-primary" (click)="ApproveService(service, i)">
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="List of Managers">
    <ng-template ngbTabContent>
      <p>
        </p>

      <div class="list-group" *ngFor="let manager of managersList; index as i">
        <div class="list-group-item">
          <h5>{{manager?.UserName}}</h5>
          <p>
            {{manager?.AppUser.Name}} {{manager?.AppUser.Surname}}
          </p>
          <img src="">
          <small>contact: {{manager?.Email}}</small>
          <br/>
          <input type="submit" value="Block" class="btn-primary" (click)="ApproveService(service, i)">
        </div>
      </div>




    </ng-template>
  </ngb-tab>
  <ngb-tab title="Approve New Clients">
    <ng-template ngbTabContent>
      <div class="list-group" *ngFor="let user of allUnapprovedUsersList">
        <div class="list-group-item">
          <h5>Name and surname</h5>
          <p>{{user.Name}} {{user.Surname}}</p>
          <img src="{{user.ImagePath}}">
          <br/>
          <input type="button" class="btn-primary" value="Approve" (click)="ApproveUser(user)">
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
