<ngb-tabset [justify]="currentJustify">
  <ngb-tab title="Approve New Service">
    <ng-template ngbTabContent>
      <div class="list-group" *ngFor="let service of unapprovedServices">
        <div class="list-group-item" id="service_{{service.Id}}">
          <h5>{{service?.Name}}</h5>
          <small>{{service?.Description}}</small>
          <br/>
          <input type="submit" value="Approve" class="btn-primary" (click)="ApproveService(service)">
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="List of Managers">
    <ng-template ngbTabContent>
      <div class="list-group" *ngFor="let manager of managersList;">
        <div class="list-group-item" id="manager_{{manager.Id}}">
          <h5>{{manager?.UserName}}</h5>
          <p>
            {{manager?.AppUser.Name}} {{manager?.AppUser.Surname}}
          </p>
          <img src="">
          <small>contact: {{manager?.Email}}</small>
          <br/>
          <input type="submit" value="Block" class="btn-primary" (click)="BlockManager(manager)">
        </div>
      </div>




    </ng-template>
  </ngb-tab>
  <ngb-tab title="Approve New Clients">
    <ng-template ngbTabContent>
      <div class="list-group" *ngFor="let user of allUnapprovedUsersList">
        <div id="approved_{{user.Id}}" class="list-group-item">
          <h5>Name and surname</h5>
          <p>{{user.Name}} {{user.Surname}} <input type="button" class="btn-primary" value="Approve" (click)="ApproveUser(user)"></p>
          <img style="width:150px;height:100px" class="rounded float-left img-thumbnail" [src]="sanitize(user.ImagePath)">
          <br/>

        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
